.header { 
    display: block;
    font-family: 'Poppins', sans-serif;
    Width:1400px;
    Height:78px;
    margin-top: 20px;
}

.logo {
    width: 185px;
    height: 32px;
    padding-left: 144px;
    padding-top: 22px;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 1126px;
    height: 331px;
    padding-left: 145px;
    padding-top: 113px;
}

.produkter {
    display: inline-block;
    justify-items: baseline;
    align-items: center;
    max-width: 1000px;
    padding-top: 24px;
    padding-left: 321px;
    height: 28px;
}
.button_sign_in {
    Width:110px;
    Height:46px;
    background-color: #FF9900
}

.button_sign_up {
    Width:110px;
    Height:46px;
    background-color: #FF9900
}

.header_info { 
    width: 518px;
    height: 108px;
}

.info_text {
    Width:458px;
    Height:95px;
}

.get_started {
    width: 175px;
    height: 53px;
    background-color: #FF9900
    
}

.watch_the_video {
    width: 175px;
    height: 53px;
}
.bild_jumping {
    display: block;
    padding-left: 20px;
}

.topic_tools {
    font-size: 36px;
    width: 2211px;
    height: 543px;
    display: block;
    justify-content: center;

}


.container_tools {
    font-family: 'Poppins', sans-serif;
    display: flex;

    width: 2211px;
    height: 543px;

}

.kort1 {
    width: 240px;
    height: 178px;  

}
.kort2 {
    width: 240px;
    height: 178px;  

}
.kort3 {
    width: 240px;
    height: 178px; 

}
.kort4 {
    width: 240px;
    height: 178px;  

}