 .Logo.jpg {
    width: 185.34px;
    height: 31.97px;
    padding-left: 143.92px;
    padding-top: 22px;

}

.topnav {
    position: absolute;
    Width:350px
    Height:28px

    padding-top: 24px;
    padding-right: 400px;

}

.button-sign-in {
    position: absolute;
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;
}

.button-sign-up {
    Width: 110px;
    Height: 46px
    padding-top 19px;
    padding-right: 145px;
}
